<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button routerLink="/" class="btn btn-link">Home page</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>28.10.2019</small>
  </div>
  <div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur dolor est itaque numquam odio perferendis qui quis rem saepe soluta, tempore ullam velit. Inventore molestiae quae quibusdam? Culpa eaque eum exercitationem facere fuga hic laborum minima molestias necessitatibus non odio, pariatur quasi sapiente sit suscipit! Deleniti natus nemo pariatur?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur dolor est itaque numquam odio perferendis qui quis rem saepe soluta, tempore ullam velit. Inventore molestiae quae quibusdam? Culpa eaque eum exercitationem facere fuga hic laborum minima molestias necessitatibus non odio, pariatur quasi sapiente sit suscipit! Deleniti natus nemo pariatur?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur dolor est itaque numquam odio perferendis qui quis rem saepe soluta, tempore ullam velit. Inventore molestiae quae quibusdam? Culpa eaque eum exercitationem facere fuga hic laborum minima molestias necessitatibus non odio, pariatur quasi sapiente sit suscipit! Deleniti natus nemo pariatur?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur dolor est itaque numquam odio perferendis qui quis rem saepe soluta, tempore ullam velit. Inventore molestiae quae quibusdam? Culpa eaque eum exercitationem facere fuga hic laborum minima molestias necessitatibus non odio, pariatur quasi sapiente sit suscipit! Deleniti natus nemo pariatur?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur dolor est itaque numquam odio perferendis qui quis rem saepe soluta, tempore ullam velit. Inventore molestiae quae quibusdam? Culpa eaque eum exercitationem facere fuga hic laborum minima molestias necessitatibus non odio, pariatur quasi sapiente sit suscipit! Deleniti natus nemo pariatur?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consectetur dolor est itaque numquam odio perferendis qui quis rem saepe soluta, tempore ullam velit. Inventore molestiae quae quibusdam? Culpa eaque eum exercitationem facere fuga hic laborum minima molestias necessitatibus non odio, pariatur quasi sapiente sit suscipit! Deleniti natus nemo pariatur?</p>
  </div>
</div>
